{% extends "base.html" %}

{% block wrap %}
<p>Input Syntax Examples</p>

<table border="1px">
    <tr>
        <th width="500px">Image</th><th>Input</th>
    </tr>
    <tr>
        <td><img height="300px" src="{{ STATIC_URL }}/img/barfinderinputex/34_ED-st_I_Vl2_3r.jpg" /></td><td>(1)x12</td>
    </tr>
    <tr>
        <td><img height="300px" src="{{ STATIC_URL }}/img/barfinderinputex/B_15_ED-pt_B_002r.jpg" /></td><td>(14 (3)(4) 1|)</td>
    </tr>
    <tr>
        <td><img height="300px" src="{{ STATIC_URL }}/img/barfinderinputex/C_06_ED_kl_Bsb_009.jpg" /></td><td>(2|)x4</td>
    </tr>
    <tr>
        <td><img height="300px" src="{{ STATIC_URL }}/img/barfinderinputex/C_07a_ED-Kl_1_A-Wn_SHWeber90_S_009.jpg" /></td><td>(2|)x2 (4(2|))</td>
    </tr>
    <tr>
        <td><img height="300px" src="{{ STATIC_URL }}/img/barfinderinputex/C_07a_ED-Kl_1_A-Wn_SHWeber90_S_010.jpg" /></td><td>(4(2|))x2</td>
    </tr>
    <tr>
        <td><img height="300px" src="{{ STATIC_URL }}/img/barfinderinputex/IMG_8477.jpg" /></td><td>(1(2|))x4</td>
    </tr>
    <tr>
        <td><img height="300px" src="{{ STATIC_URL }}/img/barfinderinputex/N_11_D-kl_Henle_001.jpg" /></td><td>(2(2|)) (2)x3</td>
    </tr>
    <tr>
        <td><img height="300px" src="{{ STATIC_URL }}/img/barfinderinputex/N_11_D-kl_Henle_002.jpg" /></td><td>(2|)x5 (2(2))</td>
    </tr>
    <tr>
        <td><img height="300px" src="{{ STATIC_URL }}/img/barfinderinputex/U_13-2_K-st_Dl_Basso_S_685.jpg" /></td><td>(2)x3 (1)x5</td>
    </tr>
</table>
<p></p>
{% endblock %}
